body{
    height: 103%;
}
div.particle .i1{
    background-image: url(../img/particle_01.png);
    width: 737px; height: 737px;
    top: 800px; left: -100px;
}
div.particle .i2{
    background-image: url(../img/particle_02.png);
    width: 405px; height: 352px;
    top: 1100px; right: -80px;
}
div.particle .i3{
    background-image: url(../img/particle_03.png);
    width: 534px; height: 657px;
    top: 1800px; left: 200px;
}
div.particle .i4{
    background-image: url(../img/particle_04.png);
    width: 1063px; height: 1061px;
    top: 2500px; right: -200px;
}
div.particle .i5{
    background-image: url(../img/particle_05.png);
    width: 402px; height: 450px;
    top: 3500px; left: 200px;
}
div.particle .i6{
    background-image: url(../img/particle_06.png);
    width: 734px; height: 763px;
    top: 4500px; left: 800px;
}
div.particle .i7{
    background-image: url(../img/particle_07.png);
    width: 378px; height: 466px;
    top: 5500px; left: -150px;
}
div.particle .i8{
    background-image: url(../img/particle_08.png);
    width: 250px; height: 192px;
    top: 6000px; left: 500px;
}
div.particle .i9{
    background-image: url(../img/particle_09.png);
    width: 994px; height: 946px;
    top: 6500px; right: -150px;
}
div.particle .i10{
    background-image: url(../img/particle_10.png);
    width: 1391px; height: 1391px;
    top: 6550px; right: -250px;
}
div.particle .i11{
    background-image: url(../img/particle_03.png);
    width: 534px; height: 657px;
    top: -50px; left: 800px;
    filter: blur(150px);
    opacity: .5;
}
div.particle .i12{
    background-image: url(../img/particle_06.png);
    width: 400px; height: 405px;
    top: 300px; right: -100px;
    filter: blur(70px);
    opacity: .8;
}
div.particle .i13{
    background-image: url(../img/particle_07.png);
    width: 378px; height: 466px;
    top: -200px; left: -100px;
    filter: blur(70px);
    opacity: .8;
}



div.landing{
    width: 100%; height: 100vh;
    color: #fff;
    position: fixed; top: 0; left: 0;
}
div.landing section{
    width: 90%; max-width: 1520px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0; height: 380px; margin: auto;
}
div.landing section .texts{
    width: 55%;
}
div.landing h1{
    color: #fff;
    line-height: 80px;
}
div.landing h1 .pp{color: #f08bff;}
div.landing h1 .bb{color: #a5c5ff;}
div.landing p{
    line-height: 40px;
}
div.landing section .circle{
    position: absolute;
}
div.landing section .c1{
    background-image: url(../img/circle_animate.png);
    width: 250px; height: 250px; top: -120px; right: 440px;
    animation: spin 15s infinite linear;
}
@keyframes spin {
  100% { transform: rotate(360deg); }
}
div.landing section .c2{
    background-image: url(../img/circle_animate.png);
    background-size: cover;
    width: 100px; height: 100px; bottom: 10px; right: 0px;
}
div.landing section .c3{
    width: 30px; height: 30px; border: 1px dashed #fff;
    border-radius: 50px; top: -130px; right: 100px;
}
div.landing section .image{
    width: 45%; height: 960px;
    background-image: url(../img/me.png);
    background-repeat: no-repeat; position: relative;
    background-size: 102%; top: 0;
}
div.landing h6{
    letter-spacing: 3px;
    transform: rotate(90deg);
    position: absolute; top: 0; bottom: 0; right: 18%;
}
div.landing .scroll{
    width: 4%; height: 10%;
    background-image: url(../img/scroll.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute; left: 0; right: 0; bottom: 60px; margin: auto;
    filter: invert();
    animation-name: particle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    overflow: hidden;
}
@keyframes particle {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 10px); }
    to   { transform: translate(0, -0px); }    
}


main{}
main .ct1{
    padding-top: 120px;
}
main .ct1 section{
    display: flex;
    align-items: center;
    position: relative;
}
main .ct1 section .texts{
    width: 50%;
}
main .ct1 section .texts h2{
    position: relative;
}
main .ct1 section .texts h2::after{
    display: block; content: '';
    width: 12px; height: 12px; background-color: #7445dc;
    border-radius: 12px;
    position: absolute; bottom: 35px; left: 95px;
}
main .ct1 section .texts h5{
    margin-top: 40px; line-height: 40px; text-align: justify;
    width: 90%; font-weight: 400;
}
main .ct1 section .image{
    background-image: url(../img/desktop_main.png);
    width: 50%; height: 740px;
    position: absolute; right: 0;
}



main .ct2{}
main .ct2 section h2{
    text-align: center;
}
main .ct2 section .artGroup{
    width: 60%; margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .ct2 section .artGroup article{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .ct2 section .artGroup h6{
    font-size: 20px; font-weight: 500;
}
main .ct2 section .artGroup article .image{
    position: absolute; border-radius: 0;
}
main .ct2 section .artGroup article:nth-of-type(1) .image{
    background-image: url(../img/index_01.png);
    width: 613px; height: 360px;
}
main .ct2 section .artGroup article:nth-of-type(2) .i1{
    background-image: url(../img/index_02.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 269px; height: 360px; right: -50px; bottom: -20px;
}
main .ct2 section .artGroup article:nth-of-type(2) .i2{
    background-image: url(../img/particle_06.png);
    width: 80px; height: 80px; left: -20px; top: 40px;
}
main .ct2 section .artGroup article .circle{
    width: 360px; height: 360px;
    display: flex; align-items: center; justify-content: center;
}
main .ct2 section .artGroup article:nth-of-type(1) .circle{
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 40px 0 rgba(95, 71, 168, 0.3);
    backdrop-filter: blur( 30.0px );
    -webkit-backdrop-filter: blur( 30.0px );
    border-radius: 500px;
    border: 1px solid rgba( 255, 255, 255, 0.2 );
    cursor: grab;
}
main .ct2 section .artGroup article:nth-of-type(2) .circle{
    background: linear-gradient(45deg, #7872af 0%, #5112ba 100%);
    box-shadow: 0 0 40px 0 rgba(95, 71, 168, 0.5);
    border-radius: 500px;
    opacity: 0.5;
    animation: glowing 2000ms infinite;
}
@keyframes glowing {
    0% { box-shadow: 0 0 -10px #8a42ff; }
    40% { box-shadow: 0 0 30px #8a42ff; }
    60% { box-shadow: 0 0 30px #8a42ff; }
    100% { box-shadow: 0 0 -10px #8a42ff; }
}

main .ct2 section .artGroup article .circle h5{
    letter-spacing: 2.5px; font-weight: 500;
}
main .ct2 section .artGroup article:nth-of-type(2) .circle h5{
    color: #fff;
}
main .ct2 section .texts{
    width: 80%; margin: 0 auto; text-align: center;
}
main .ct2 section .texts h5{
    margin-top: 40px; line-height: 40px; letter-spacing: 2.5px; color: #fff;
}
main .ct2 section .texts ul{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'debussy';
}
main .ct2 section .texts ul li{
    font-size: 60px; line-height: 80px; letter-spacing: 3px;
}
main .ct2 section .texts ul li:nth-of-type(1),
main .ct2 section .texts ul li:nth-of-type(3){
    font-size: 120px; color: #817ab7;
}
main .ct2 section .texts ul li span:nth-of-type(1){color: #572ec2;}
main .ct2 section .texts ul li span:nth-of-type(2){color: #9064af;}
main .ct2 section .texts ul li span:nth-of-type(3){color: #65177f;}
main .ct2 section .texts ul li span:nth-of-type(4){color: #29135f;}
main .ct2 section .texts ul li span:nth-of-type(5){color: #9f8dd9;}
main .ct2 section .texts ul li span:nth-of-type(6){color: #b762e3;}
main .ct2 section .texts p{
    margin-top: 80px; font-size: 18px; line-height: 40px; font-weight: 400;
}



main .ct3{
    overflow: hidden;
}
main .ct3 .artGroup{
    width: 300%;
    display: flex; justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}
main .ct3 .a1{
    animation: bannermove_1 50s linear infinite alternate-reverse;
}
main .ct3 .a2{
    margin-top: 60px;
    animation: bannermove_2 50s linear infinite alternate-reverse;
}

@keyframes bannermove_1{
    from{
        left: 0px;
    }
    to{
        left: -2700px;
    }
}
@keyframes bannermove_2{
    from{
        left: -2700px;
    }
    to{
        left: 0px;
    }
}

main .ct3 .artGroup article{
    width: calc(100% / 6 - 85px); height: 450px; background-color: #fff; border: 15px solid #3e365c; border-radius: 50px;
}
main .ct3 .artGroup .image{
    width: 100%; height: 100%; border-radius: 35px;
}
main .ct3 .a1 .i1{background-image: url(../img/index_03.jpg);}
main .ct3 .a1 .i2{background-image: url(../img/index_05.png);}
main .ct3 .a1 .i3{background-image: url(../img/index_04.jpg);}
main .ct3 .a1 .i4{background-image: url(../img/index_07.jpg);}
main .ct3 .a1 .i5{background-image: url(../img/index_06.jpg);}
main .ct3 .a1 .i6{background-image: url(../img/index_08.jpg);}

main .ct3 .a2 .i1{background-image: url(../img/index_09.jpg);}
main .ct3 .a2 .i2{background-image: url(../img/index_14.jpg);}
main .ct3 .a2 .i3{background-image: url(../img/index_10.jpg);}
main .ct3 .a2 .i4{background-image: url(../img/index_13.jpg);}
main .ct3 .a2 .i5{background-image: url(../img/index_11.jpg);}
main .ct3 .a2 .i6{background-image: url(../img/index_12.jpg);}

main .ct3 h6{
    text-align: center; margin-top: 30px; line-height: 40px; letter-spacing: 2.5px; font-weight: 500;
}



main .ct4{
    padding-top: 160px;
    overflow: hidden;
    position: relative;
}
main .ct4 .artGroup{
    width: 150%;
    display: flex; justify-content: space-around;
    margin-left: -25%;
}
main .ct4 .artGroup article{
    width: calc(100% / 3 - 85px); height: 450px; background-color: #000; border: 15px solid #3e365c; border-radius: 50px;
    position: relative;
}
main .ct4 .artGroup article .image{
    width: 100%; height: 100%; border-radius: 35px;
    background-position: top; 
}
main .ct4 .artGroup article .i1{background-image: url(../img/coding_1.jpg);}
main .ct4 .artGroup article .i2{
    background-image: url(../img/grid.jpg); 
    opacity: .7;
}
main .ct4 .artGroup article h4{
    text-align: center; letter-spacing: 3px; line-height: 30px; font-weight: 700; color: #fff;
    position: absolute; top: 160px; left: 0; right: 0;
    z-index: 1;
}
main .ct4 .artGroup article .i3{background-image: url(../img/coding_1.jpg);}

main .ct4 h6{
    text-align: center; margin-top: 30px; line-height: 40px; letter-spacing: 2.5px; font-weight: 500;
}



main .ct5{}
main .ct5 header{
    width: 50%;
    text-align: center;
}
main .ct5 header h4{
    font-family: 'debussy'; color: #fff; letter-spacing: 3px; line-height: 80px;
}
main .ct5 header p{
    font-size: 18px; line-height: 40px; font-weight: 400;
}
main .ct5 section{
    margin-top: 80px;
}
main .ct5 section article{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
main .ct5 section article:nth-of-type(2){
    margin-top: 80px; 
}
main .ct5 section article:nth-of-type(2) *{
    font-family: 'Noto Sans KR';
}
main .ct5 section article h1{
    width: 20%; font-size: 200px; text-transform: none; color: #fff; text-shadow: 0 5px 30px rgba(95, 71, 168, 0.2);
}
main .ct5 section article h1:hover{
    color: #572ec2; text-shadow: 0;
}
main .ct5 section article .typo{
    width: 70%; color: #fff; text-transform: none; line-height: 40px;
}
main .ct5 section article .typo ul{
    display: flex; letter-spacing: normal;
}
main .ct5 section article .typo ul li{
    margin-right: 50px; 
}
main .ct5 section article .typo ol{
    display: flex; justify-content: space-between;
}
main .ct5 section article .typo ol li{
    font-size: 36px; font-family: "debussy"; margin-top: 20px;
}
main .ct5 section article .typo .notoCap li{
    font-family: "Noto Sans KR"; font-weight: 900;
}
main .ct5 section article .typo .notoSmall li{
    font-family: "Noto Sans KR"; font-weight: 100; margin-top: 10px;
}
main .ct5 section article:nth-of-type(2) .typo h3:nth-of-type(1){
    letter-spacing: 0.49em;
}
main .ct5 section article:nth-of-type(2) .typo h3:nth-of-type(2){
    margin-top: 0; line-height: 20px; font-weight: 100; letter-spacing: 0.67em;
}
main .ct5 section article .typo p{
    line-height: 20px; margin-top: 40px; letter-spacing: normal;
}
main .ct5 section .colors{
    display: flex; justify-content: space-between;
    margin-top: 120px;
}
main .ct5 section .colors .box{
    width: calc(25% - 25px); height: 160px;
}
main .ct5 section .colors .b1{ background-color: #fff;}
main .ct5 section .colors .b2{ background-color: #3e365c; color: #fff;}
main .ct5 section .colors .b3{ background-color: #827cb8; color: #fff;}
main .ct5 section .colors .b4{ background-color: #7445dc; color: #fff;}
main .ct5 section .colors .box .texts{
    padding: 20px; width: 100%; height: 100%;
}
main .ct5 section .colors .box .texts h6{text-transform: none;}
main .ct5 section .colors .box .texts h6:nth-of-type(1){}
main .ct5 section .colors .box .texts h6:nth-of-type(2){margin-top: 80px;}
main .ct5 section .colors .box .texts h6:nth-of-type(3){
    text-align: right; margin-top: -60px;
}


main .ct6{
    padding-bottom: 180px;
}
main .ct6 h2{
    text-align: center;
}
.cd-horizontal-timeline{
    padding-top: 100px;
}
.cd-horizontal-timeline .timeline{}
.cd-horizontal-timeline .timeline .events-wrapper{}
.cd-horizontal-timeline .timeline .events-wrapper .events{
    height: 4px; background: #fff; border-radius: 10px;
    margin-left: 0;
}
.cd-horizontal-timeline .timeline .events-wrapper .events ol{
    display: flex; justify-content: space-between;
}
.cd-horizontal-timeline .timeline .events-wrapper .events ol li{
    font-size: 18px; line-height: 40px; font-weight: 500; color: #fff;
    margin-top: -48px; 
}
.cd-horizontal-timeline .timeline .events-wrapper .events ol li a{
    width: 100%; height: 100%; position: relative; z-index: 5;
}
.cd-horizontal-timeline .timeline .events-wrapper .events ol li a::after{
    display: block; content: '';
    width: 20px; height: 20px; background-color: #fff; border-radius: 20px;
    display: flex; justify-content: center;
    margin: 0 auto;
}
.cd-horizontal-timeline .timeline .events-wrapper .events ol li:nth-of-type(1) a::after{
    margin-left: 0;
}
.cd-horizontal-timeline .timeline .events-wrapper .events ol li:nth-of-type(5) a::after{
    margin-right: 0;
}
.cd-horizontal-timeline .timeline .events-wrapper .events ol li a.selected{
    color: #3e365c;
}
.cd-horizontal-timeline .timeline .events-wrapper .events ol li a.selected::after{
    background-color: #cbc2de; box-shadow: 0 0 0 4px #fff inset; 
}

.cd-horizontal-timeline .events-content{
    margin-top: 80px; overflow: hidden;
}
.cd-horizontal-timeline .events-content ol{
    width: 500%; display: flex;
}
.cd-horizontal-timeline .events-content ol li{
    display: flex; justify-content: space-between; align-items: center;
    width: 100%;
}
.cd-horizontal-timeline .events-content ol li h2{
    width: 50%;
    font-size: 84px; color: #fff; text-shadow: 0 4px 18px rgba(95, 71, 168, 0.4); letter-spacing: normal; text-align: left;
}
.cd-horizontal-timeline .events-content ol li .info{
    width: 50%;
}
.cd-horizontal-timeline .events-content ol li .info h5{
    font-weight: 700;
}
.cd-horizontal-timeline .events-content ol li .info p{
    font-size: 16px; line-height: 30px; margin-top: 20px; font-weight: 400;
}
.cd-horizontal-timeline .events-content ol li .info .imgGroup{
    display: flex; justify-content: space-between;
}
.cd-horizontal-timeline .events-content ol li .info .imgGroup .image{
    width: calc(100% / 3 - 20px); height: 150px; background-color: #fff;
    margin-top: 40px; border-radius: 20px;
}
.cd-horizontal-timeline .events-content ol li .info h6{
    font-size: 12px; margin-top: 20px;
}

.cd-horizontal-timeline .events-content ol li .info .imgGroup .i1{background-image: url(../img/index_15.jpg);}
.cd-horizontal-timeline .events-content ol li .info .imgGroup .i2{background-image: url(../img/index_16.jpg);}
.cd-horizontal-timeline .events-content ol li .info .imgGroup .i3{background-image: url(../img/index_17.jpg); background-position: left;}
.cd-horizontal-timeline .events-content ol li .info .imgGroup .i4{background-image: url(../img/index_18.jpg);}
.cd-horizontal-timeline .events-content ol li .info .imgGroup .i5{background-image: url(../img/index_19.jpg);}
.cd-horizontal-timeline .events-content ol li .info .imgGroup .i6{background-image: url(../img/index_20.jpg);}
.cd-horizontal-timeline .events-content ol li .info .imgGroup .i7{background-image: url(../img/index_21.jpg);}
.cd-horizontal-timeline .events-content ol li .info .imgGroup .i8{background-image: url(../img/index_22.jpg);}
.cd-horizontal-timeline .events-content ol li .info .imgGroup .i9{background-image: url(../img/index_23.jpg);}
.cd-horizontal-timeline .events-content ol li .info .imgGroup .i10{background-image: url(../img/index_04.jpg);}
.cd-horizontal-timeline .events-content ol li .info .imgGroup .i11{background-image: url(../img/index_05.png);}
.cd-horizontal-timeline .events-content ol li .info .imgGroup .i12{background-image: url(../img/index_06.jpg);}
.cd-horizontal-timeline .events-content ol li .info .imgGroup .i13{background-image: url(../img/index_24.jpg);}
.cd-horizontal-timeline .events-content ol li .info .imgGroup .i14{background-image: url(../img/index_25.jpg);}
.cd-horizontal-timeline .events-content ol li .info .imgGroup .i15{background-image: url(../img/index_26.jpg);}

div.popup{
    width: 540px;
    padding: 20px 15px;
    background-color: rgba(255, 255, 255, 0.7); border-radius: 20px;
    border: 1px solid #d8c9e43d; box-shadow: 0 5px 10px #3e365c3a;
    position: fixed;
    top: 45px; left: 40px;
}
div.popup aside{}
div.popup aside .close{
    width: 30px; height: 30px; font-size: 26px; background: 0; border: 0;
    color: #3e365c;
}
div.popup section{
    height: 130px;
}
div.popup section p{
    padding: 10px 30px; text-transform: none;
    font-size: 16px; font-weight: 400; line-height: 30px;
}
div.popup section p span{
    font-weight: 700; color: #7445dc;
}