/*common.css*/
@import url('all.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

@font-face{
    font-family: "Noto Sans KR";
    font-weight: 100;
    src: url('../../fonts/NotoSansKR-Thin.otf');
}
@font-face{
    font-family:"Noto Sans KR";
    font-weight: 300;
    src: url('../../fonts/NotoSansKR-Light.otf');
}
@font-face{
    font-family:"Noto Sans KR";
    font-weight: 400;
    src: url('../../fonts/NotoSansKR-Regular.otf');
}
@font-face{
    font-family:"Noto Sans KR";
    font-weight: 500;
    src: url('../../fonts/NotoSansKR-Medium.otf');
}
@font-face{
    font-family:"Noto Sans KR";
    font-weight: 700;
    src: url('../../fonts/NotoSansKR-Bold.otf');
}
@font-face{
    font-family:"Noto Sans KR";
    font-weight: 900;
    src: url('../../fonts/NotoSansKR-Black.otf');
}
@font-face{
    font-family:"debussy";
    font-weight: 300;
    src: url('../../fonts/debussy.ttf');
}
@font-face{
    font-family:"parkway lush";
    font-weight: 300;
    src: url('../../fonts/parkway lush.otf');
}

html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    position: relative;
    overflow-x: hidden;
    font-family: "Noto Sans KR"; text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #3e365c;
    letter-spacing: -1px;
}

/*배경관련*/
div.bg{
    position: fixed; top: 0; left: 0;
    width: 100%; height: 100vh; 
    background: linear-gradient(
    to bottom right,  
    #a46cde, #8781bd,
    #9574d8, #a671bc,
    #8d7fb5, #9f5ae4,
    #a484d7);
    background-repeat: no-repeat;
    background-size: 1000% 1000%;
    animation: gradient 240s ease infinite;
} 
@keyframes gradient{ 
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}
div.particle{
    width: 100%; height: 790%;
    position: relative;
    animation-name: particle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    overflow: hidden;
}
@keyframes particle {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
div.particle .image{
    position: absolute;
}

body .image{
    border-radius: 50px;
    background-size: cover; background-position: center;
}
h1{
    font-size: 84px; font-family: "debussy"; letter-spacing: 7px;
}
h2{
    font-size: 72px; font-family: "debussy"; letter-spacing: 7px;
    line-height: 80px;
}
h3{
    font-size: 36px; font-family: "debussy"; letter-spacing: 7px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 18px;
}
h6{
    font-size: 16px;
}
p{
    text-align: justify;
}
button{
    cursor: pointer;
}
*.clear::after{
    display: block; content:'';
    clear:both;
}

/*글로벌 헤더*/
main{
    width: 98%; max-width: 1828px; margin: auto;
    /* height: 6500px; */
    position: absolute; top: 960px; left: 0; right: 0;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 25px 0 rgba(95, 71, 168, 0.7);
    backdrop-filter: blur( 70.0px );
    -webkit-backdrop-filter: blur( 70.0px );
    border-radius: 50px;
    border: 1px solid rgba( 255, 255, 255, 0.5 );
    background-image: url(../img/noisybg.png);
    margin-top: -60px;
}
main .hdrWrap{
    width: 90%; max-width: 1520px; margin: 0 auto;
    padding: 80px 0;
}
main .hdrWrap header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
main .hdrWrap header h5{
    letter-spacing: 8.8px;
    line-height: 30px;
}
main .hdrWrap header h5 span{
    font-weight: 900; letter-spacing: 5px;
}
main .hdrWrap header ul{
    width: 50%; font-size: 16px;
    display: flex; justify-content: space-between;
}
main .hdrWrap header ul li{
    font-weight: 400; letter-spacing: 2.5px;
    padding: 10px 25px;
}
main .hdrWrap header ul li:hover{
    box-shadow: 0px 0px 0px 2px #3e365c;
    /* border: 2px solid #3e365c;  */ border-radius: 50px;
}

div.goTop{
    text-align: center;
    position: fixed; left: 0; right: 0; bottom: -70px;
}
div.goTop button{
    width: 60px; height: 60px; background-color: #fff; border: 0; border-radius: 60px; box-shadow: 0 4px 20px rgba(95, 71, 168, 0.4); font-size: 30px; color: #8781bd;
}
div.goTop button:hover{
    transform: scale(1.1);
    transition: .3s ease-out;
}
div.goTop button i{
    margin-top: 5px;
}
div.goTop h6{
    color: #fff; font-weight: 500; letter-spacing: 2.5px;
    line-height: 40px;
}

/*고정 바*/

/*글로벌 콘텐츠*/
main section{
    width: 90%; max-width: 1520px; margin: 0 auto;
}
div.content{
    padding-top: 280px;
}
div.content header{
    width: 90%; max-width: 1520px; margin: 0 auto;
}
div.content section{
    width: 90%; max-width: 1520px; margin: 0 auto;
}
div.content span{
    color: #fff;
}

/*버튼*/

/*배너*/

/*글로벌 푸터*/