body{
    height: 103%;
}
div.bg{
    height: 780%;
}
main{
    margin-top: 0;
}
div.particle{
    height: 780%;
}
div.particle .i1{
    background-image: url(../img/particle_01.png);
    width: 737px; height: 737px;
    top: 500px; left: 800px;
}
div.particle .i2{
    background-image: url(../img/particle_02.png);
    width: 405px; height: 352px;
    top: 900px; left: -80px;
}
div.particle .i3{
    background-image: url(../img/particle_03.png);
    width: 534px; height: 657px;
    top: 1300px; right: 200px; opacity: .5;
}
div.particle .i4{
    background-image: url(../img/particle_04.png);
    width: 1063px; height: 1061px;
    top: 2300px; right: -200px;
}
div.particle .i5{
    background-image: url(../img/particle_05.png);
    width: 402px; height: 450px;
    top: 3200px; left: -100px; opacity: .7;
}
div.particle .i6{
    background-image: url(../img/particle_06.png);
    width: 734px; height: 763px;
    top: 4500px; left: 800px;
}
div.particle .i7{
    background-image: url(../img/particle_07.png);
    width: 378px; height: 466px;
    top: 4200px; left: -100px;
}
div.particle .i8{
    background-image: url(../img/particle_08.png);
    width: 250px; height: 192px;
    top: 5920px; left: 0;
}
div.particle .i9{
    background-image: url(../img/particle_09.png);
    width: 994px; height: 946px;
    top: 5950px; right: 0;
}
div.particle .i10{
    background-image: url(../img/particle_10.png);
    width: 1391px; height: 1391px;
    top: 6100px; left: 250px;
}
main{
    width: 100%; max-width: 1920px; top: 0; border-radius: 0px; height: 7300px;
}
main .hdrWrap{
    position: fixed; left: 0; right: 0;
    z-index: 1;
}
main .hdrWrap header{color: #fff;}
main .hdrWrap header ul li:hover{box-shadow: 0px 0px 0px 2px #fff;}

main .main{
    width: 100%; height: 100vh;
    z-index: -1;
}
main .mainPic{
    width: 100%; height: 100vh;
    background-image: url(../img/sub1_01_2.jpg);
    background-repeat: no-repeat;
    display: flex; align-items: center;
}
main .mainPic .texts{
    color: #fff; letter-spacing: 2.5px; margin-top: 100px;
}
main .mainPic .texts h1{
    line-height: 80px; margin-top: 40px;
}
main .mainPic .texts p{
    width: 45%; font-size: 18px; line-height: 40px; margin-top: 40px; letter-spacing: -0.5px;
}
main .mainPic .texts ol{
    display: flex; justify-content: space-between; font-size: 18px; line-height: 80px; font-weight: 300; margin-top: 140px;
}
main .mainText{
    background-color: rgba(255, 255, 255, 0.8); height: 45vh;
    display: flex; align-items: center; flex-wrap: wrap;
    position: relative;
    display: none;
}
main .mainText section{
    display: flex; justify-content: space-between; align-items: center; 
}
main .mainText section h3{
    width: 50%; letter-spacing: 1px;
}
main .mainText section h3 span{
    color: #827cb8;
}
main .mainText section p{
    width: 50%; font-size: 18px; line-height: 30px; font-weight: 400;
}
main .mainText hr{
    width: 100%; height: 20px; background-color: rgba(130, 124, 184, 0.1);
    position: absolute; bottom: 0;
}



main .ct1{
    width: 100%;
}
main .ct1 h2{
    text-align: center;
}
main .ct1 section .image{
    background-image: url(../img/sub1_02.png);
    width: 100%; height: 680px;
    margin-top: 40px;
}


main .ct2{}
main .ct2 h2{
    text-align: center;
}
main .ct2 section{
    display: flex; justify-content: space-between;
    margin-top: 40px;
}
main .ct2 section article{
    width: calc(100% / 6 - 25px);
}
main .ct2 section article .circle{
    height: 230px; background-color: #fff; border-radius: 200px;
    display: flex; align-items: center; justify-content: center;
    box-shadow: 0 2px 18px rgba(95, 71, 168, 0.3);
}
main .ct2 section article .circle h5{
    font-weight: 500; letter-spacing: 2.5px;
}
main .ct2 section article .dots{
    display: flex; justify-content: center;
}
main .ct2 section article .dots .dot{
    width: 10px; height: 10px; background-color: #fff; border-radius: 10px;
    margin: 0 4px; margin-top: 20px;
}
main .ct2 section article .dots .opacity{
    opacity: .4;
}
main .ct2 p{
    text-align: center; margin-top: 40px; line-height: 40px; font-size: 18px; font-weight: 400;
}



main .ct3{}
main .ct3 header h2{color: #fff;}
main .ct3 .image{
    width: 58%; height: 560px; border-radius: 15px 0 0 15px;
    position: absolute; right: 0; top: 3500px; z-index: -1;
    background-image: url(../img/sub1_03.jpg);
    background-size: cover; background-position: center;
}
main .ct3 section{
    margin-top: 40px;
    position: relative;
}
main .ct3 section .sect1{
    display: flex;
    justify-content: space-between;
}
main .ct3 section .sect1 .texts{
    width: 20%; margin-top: 80px;
}
main .ct3 section .sect1 .texts h4{
    font-family: 'debussy'; line-height: 30px; letter-spacing: 1px;
}
main .ct3 section .sect1 .texts p{
    font-size: 18px; line-height: 30px; font-weight: 400; margin-top: 30px;
}
main .ct3 section .sect1 .centerImg{
    width: 25%; height: 560px; border-radius: 15px;
    background-image: url(../img/sub1_04.jpg);
    background-size: cover; background-position: center;
}
main .ct3 section .sect1 .imgGroup{
    width: 45%;
    display: flex; justify-content: space-between; margin-top: 80px;
}
main .ct3 section .sect1 .imgGroup .smallImg{
    width: calc(100% / 3 - 20px); height: 150px; background-color: #fff;
    border-radius: 15px;
}
main .ct3 section .sect1 .imgGroup .i1{
    background-image: url(../img/sub1_06.jpg);
    background-size: cover; background-position: bottom;
}
main .ct3 section .sect1 .imgGroup .i2{
    background-image: url(../img/sub1_07.jpg);
    background-size: cover; background-position: center;
}
main .ct3 section .sect1 .imgGroup .i3{
    background-image: url(../img/sub1_08.jpg);
    background-size: cover; background-position: left;
}
main .ct3 section .sect2{
    display: flex; justify-content: space-between;
    position: absolute; top: 480px;
}
main .ct3 section .sect2 h1{
    position: absolute; right: -240px; bottom: 0;
    font-size: 200px; line-height: 160px; text-align: right;
    color: rgba(105, 69, 214, 0.07);
}
main .ct3 section .sect2 .leftImg{
    width: 35%; height: 760px; border-radius: 15px;
    background-image: url(../img/sub1_05.jpg);
    background-size: cover; background-position: center;
}
main .ct3 section .sect2 .texts{
    width: 60%; position: relative;
}
main .ct3 section .sect2 .texts .logoGroup{
    height: 80px; margin-top: 450px;
    display: flex; justify-content: space-between; align-items: center;
}
main .ct3 section .sect2 .texts .logoGroup .logo{
    height: 80px; width: 100%;
    background-size: contain; background-repeat: no-repeat; background-position: center;
    background-image: url(../img/sub01_logo.png);
}
main .ct3 section .sect2 .texts p{
    font-size: 18px; font-weight: 400; line-height: 40px;
    margin-top: 40px;
}
main .ct3 section .sect2 .texts .btn{
    height: 80px;
    position: absolute; bottom: -20px; right: 0;
}
main .ct3 section .sect2 .texts .btn button{
    background: 0; border: 2px solid #3e365c; line-height: 50px; width: 180px; border-radius: 100px; font-size: 16px;
}
main .ct3 section .sect2 .texts .btn button:hover{
    background-color: rgba(255, 255, 255, 0.4);
}



main .ct4{
    margin-top: 560px;
}
main .ct4 header{
    text-align: right;
}
main .ct4 header h2{color: #fff;}
main .ct4 section{
    margin-top: 40px;
}
main .ct4 section article{
    display: flex; flex-wrap: wrap; align-items: center;
    position: relative;
}
main .ct4 section article .image{
    width: 100%; height: 100%; border-radius: 15px;
}
main .ct4 section .artGroup article .i1{background-image: url(../img/sub1_09.jpg); background-position: 40% 100%;}
main .ct4 section .artGroup article .i2{background-image: url(../img/sub1_10.jpg);}
main .ct4 section .artGroup article .i3{background-image: url(../img/sub1_12.jpg);}
main .ct4 section .artGroup article .i4{background-image: url(../img/sub1_13.jpg);}
main .ct4 section .a5 .i5{background-image: url(../img/sub1_14.jpg); background-position: 100% 30%;}
main .ct4 section .artGroup article .i6{background-image: url(../img/sub1_18.jpg);}
main .ct4 section .artGroup article .i7{background-image: url(../img/sub1_16.jpg);}
main .ct4 section .artGroup article .i8{background-image: url(../img/sub1_17.jpg);}
main .ct4 section .artGroup article .i9{background-image: url(../img/sub1_11.jpg);}
main .ct4 section .artGroup article .i10{background-image: url(../img/sub1_15.jpg);}

main .ct4 section article .texts{
    text-align: center; width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.4); border-radius: 15px;
    display: flex; align-items: center;
    position: absolute; top: 0; left: 0;
    transition: opacity .2s;
    opacity: 0;
}
main .ct4 section article .texts:hover{
    opacity: 1;
}
main .ct4 section h5{
    text-align: center; width: 100%;
    font-weight: 500; letter-spacing: 3px; color: #fff;
}
main .ct4 section h5 span{
    font-size: 12px; font-weight: 300;
}
main .ct4 section .ag1{
    display: flex; justify-content: space-between;
}
main .ct4 section .ag1 .a1{
    width: calc(50% - 20px); height: 740px;
}
main .ct4 section .ag1 .a2a3{
    width: calc(25% - 20px);
}
main .ct4 section .ag1 .a2{
    height: 360px;
}
main .ct4 section .ag1 .a3{
    height: 360px; margin-top: 20px;
}
main .ct4 section .ag1 .a4{
    width: 25%;
}
main .ct4 section .a5{
    border-radius: 15px; height: 580px; background-color: #ccc;
    margin-top: 20px;
    display: flex; flex-wrap: wrap; align-items: center;
}
main .ct4 section .ag2{
    margin-top: 20px;
    display: flex; justify-content: space-between;
}
main .ct4 section .a6a7{
    width: calc(25% - 20px);
}
main .ct4 section .a8a9{
    width: calc(25% - 20px)
}
main .ct4 section .ag2 .a6{
    height: 360px;
    background-position: 100% 100%;
}
main .ct4 section .ag2 .a7{
    height: 360px; margin-top: 20px;
}
main .ct4 section .ag2 .a8{
    height: 360px;
}
main .ct4 section .ag2 .a9{
    height: 360px; margin-top: 20px;
}
main .ct4 section .a10{
    width: 50%; height: 740px;
}
main .ct4 p{
    width: 80%; margin: 0 auto;
    margin-top: 100px; font-size: 18px; font-weight: 400; line-height: 40px;
}